h1 {
    text-align: center;
    font-weight: bold;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:20%;
    height:100vw;
    background-color: lightblue;
    top: 0;
    left: 0;
    position:fixed;
    }
li {
    font-size: 35px;
}
p {
    margin-left: 25%;
    font-size: 18px;
}

body {
    background-color: burlywood;
}

a {
    font-weight: bold;
}